<nav class="navbar navbar-expand-xl nav_area sticky">
  <div class="container">
    <div class="logo">
      <a href="" class="logo-light">Amit Kr Yadav</a>
      <a href="" class="logo-dark">Rao Sahab</a>
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto navbar-center main_menu onepage_nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/blog-listing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog-category">Blog Category</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />

<div class="mt-5">
  <!--<app-create-user></app-create-user>-->
  <router-outlet></router-outlet>
</div>
